---
import ProductCard from "./ProductCard.astro";

const allFoods = await Astro.glob('../pages/data/*.md');
const Foods = allFoods.filter((food) => food.frontmatter.category === "food")
const Drinks = allFoods.filter((drink) => drink.frontmatter.category === "drink")

---
<section id="food" class="py-32">
    <div class="container mx-auto">
        <div class="flex flex-col gap-56">
            <div class="flex flex-col items-center text-white">
                <h2 class="text-5xl font-bold">Ưu Đãi <span class="text-red-500">Đặc Biệt</span> Hôm Nay</h2>
                <p class="mt-10 max-w-[50%] text-lg text-center font-poppins">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <div class="flex gap-7 mt-7 control">
                    <button class="px-4 py-2 rounded-3xl border border-white btn active">Bữa sáng</button>
                    <button class="px-4 py-2 rounded-3xl border border-white btn">Bữa trưa</button>
                    <button class="px-4 py-2 rounded-3xl border border-white btn">Bữa chiều</button>
                    <button class="px-4 py-2 rounded-3xl border border-white btn">Nước uống</button>
                </div>
            </div>

            <div class="grid grid-cols-4 gap-8 mt-28">
                {Foods.map((food) => <ProductCard title={food.frontmatter.title} url={food.frontmatter.image.url} alt={food.frontmatter.image.alt} description={food.frontmatter.description} price={food.frontmatter.price}/>)}
            </div>
        </div>
    </div>
</section>

<style>
    .btn.active {
        background-color: #EC5D5D;
    }
</style>