---
import {t} from "i18next";
import ProductCard from "./ProductCard.astro";
import { Trans } from "astro-i18next/components";

const allFoods = await Astro.glob('../pages/data/*.md');
const Foods = allFoods.filter((food) => food.frontmatter.category === "food")
const Lunch = allFoods.filter((food) => food.frontmatter.category === "lunch")
const Afternoon = allFoods.filter((food) => food.frontmatter.category === "afternoon")
const Drinks = allFoods.filter((drink) => drink.frontmatter.category === "drink")
---
<section id="food" class="pt-32" x-data="{ activeTab:  0 }">
    <div class="container mx-auto px-3">
        <div class="flex flex-col gap-14 md:gap-56">
            <div class="flex flex-col items-center text-white">
                <Trans i18nKey="foodtitle">
                    <h2 class="text-5xl font-bold text-center">Today's <span class="text-red-500">Special</span> Offers</h2>
                </Trans>
                <p class="mt-5 md:mt-10 w-full md:max-w-[50%] md:text-lg text-center font-poppins">{t("Enjoy today with our special offers! Discover a variety of delicious dishes at great discounts, available only today. Order now to save and enjoy a tasty meal!")}</p>
                <div class="flex gap-5 mt-7 flex-wrap justify-center">
                    <button @click="activeTab = 0" class="px-4 py-2 rounded-3xl btn active">{t("Morning")}</button>
                    <button @click="activeTab = 1" class="px-4 py-2 rounded-3xl btn">{t("Lunch")}</button>
                    <button @click="activeTab = 2" class="px-4 py-2 rounded-3xl btn">{t("Afternoon")}</button>
                    <button @click="activeTab = 3" class="px-4 py-2 rounded-3xl btn">{t("Drinks")}</button>
                </div>
            </div>

            <!-- List product -->
            <div :class="{ 'active': activeTab === 0 }" x-show.transition.in.opacity.duration.600="activeTab === 0" class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-8 mt-28">
                {Foods.map((food) => <ProductCard title={food.frontmatter.title} url={food.frontmatter.image.url} alt={food.frontmatter.image.alt} description={food.frontmatter.description} price={food.frontmatter.price}/>)}
            </div>

            <div :class="{ 'active': activeTab === 1 }" x-show.transition.in.opacity.duration.600="activeTab === 1" class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-8 mt-28">
                {Lunch.map((food) => <ProductCard title={food.frontmatter.title} url={food.frontmatter.image.url} alt={food.frontmatter.image.alt} description={food.frontmatter.description} price={food.frontmatter.price}/>)}
            </div>

            <div :class="{ 'active': activeTab === 2 }" x-show.transition.in.opacity.duration.600="activeTab === 2" class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-8 mt-28">
                {Afternoon.map((food) => <ProductCard title={food.frontmatter.title} url={food.frontmatter.image.url} alt={food.frontmatter.image.alt} description={food.frontmatter.description} price={food.frontmatter.price}/>)}
            </div>

            <div :class="{ 'active': activeTab === 3 }" x-show.transition.in.opacity.duration.600="activeTab === 3" class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-8 mt-28">
                {Drinks.map((food) => <ProductCard title={food.frontmatter.title} url={food.frontmatter.image.url} alt={food.frontmatter.image.alt} description={food.frontmatter.description} price={food.frontmatter.price}/>)}
            </div>
        </div>
    </div>
</section>

<style>

    .btn {
        transition: box-shadow .5s ease-in;
    }
    .btn.active {
        background: #EC5D5D;
        box-shadow:0 0 10px #EC5D5D;
    }
</style>

<script>
    const tabs = document.querySelectorAll(".btn")

    tabs.forEach((tab) => {
        tab.addEventListener("click", () => {
            document.querySelector(".btn.active")?.classList.remove("active")
            tab.classList.add('active');
        })
    })
</script>